body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.orenge-color {
    color: orange;
}
.flexible{
    display: flex;
}
.half-width {
    padding-left: 5%;
    width: 50%;
}
.half-width img {
    width: 80%;
}
.link-button {
    padding: 10px 20px;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    border-radius: 10px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat ;
    background-position: right;
    
}
.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item {
    width: 40%;
    padding-left: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px grey;
}
#full-stack-web{
border-left: 7px solid tomato;
}
#baby-web-dev {
    border-left: 7px solid blue;

}
footer p {
    text-align: center;
}